header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 600px;
    justify-content: space-around;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(141, 130, 130);
    font-weight: 800;
}

a:hover {
    color: black;
}

button:active {
    background-color: #5A98F2;

}

button {
    border: 2px solid #5A98F2;
    border-radius: 30px;

}

.box {
    display: flex;
    align-items: center;

}

.box-inner p {
    font-size: 19px;
    width: 60%;
}

.container {
    width: 1240px;
    margin: 0 auto;
}


.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.card {
    width: 380px;
    
}
.box-5{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.ceder button{
    display: flex;
    align-items: center; margin: 0 auto;
}
.class{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card:active{
    color: #fff;
    background-color: #5A98F2;
}